<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Here is your phrase Pig Latinized :</h1>

    <h2><%= @pig_latinized %></h2>

  </body>
</html>